params {
    deeplex_dir      = "$baseDir/data/Deeplex"
    results_dir      = "$baseDir/results"
    version          = "1.4.0"
    fhir_server_url  = ""
    fhir_server_auth = ""
}

process {
    scratch = true
}


profiles {
    standard {
        process.executor = 'local'
    }
    
    hpc {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    
    test {
        params.deeplex_dir = 'test_data/Deeplex'
    }
}

docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g) --rm'
    fixOwnership = false
}

singularity {
    enabled = false
}

params {
    max_cpus = 8
    max_memory = '16 GB'
    max_time = '24h'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}
